#formio-form-render button#edit-submit {
  margin-top: 20px;
}

#formio-form-render #formio-forms form {
  background-color: #F5F5F5;
  padding: 20px;
}

#formio-form-render #formio-forms #form-group-submit {
  margin-top: 20px;
}

#ctools-export-ui-edit-item-wizard-form .preset-settings {
  margin: 20px 0px;
  padding: 10px;
}
